<div class="content-wrapper ">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Trang chủ/ đổi mật khẩu</h4> 
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-left: 190px;">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        Đổi mật khẩu
                    </div>
                    <div class="panel-body">
                        <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <input class="form-control" type="hidden" name="Fullname" formControlName="Fullname"/>
                            <input class="form-control" type="hidden" name="Username" formControlName="Username"/>
                            <input class="form-control" type="hidden" name="Password" formControlName="Password"/>
                            <input class="form-control" type="hidden" name="Email" formControlName="Email"/>
                            <input class="form-control" type="hidden" name="Roles" formControlName="Roles"/>
                            <input class="form-control" type="hidden" name="TeamName" formControlName="TeamName" />
                            <input class="form-control" type="hidden" name="Images" formControlName="Images" />
                            <input class="form-control" type="hidden" name="TrangThai" formControlName="TrangThai" />
                            <div class="form-group">
                                <label>Password mới</label>
                                <input class="form-control" type="password" name="Password" formControlName="Password" placeholder="Vui lòng nhập pass..."/>
                                <span *ngIf="!userForm.get('Password')?.valid && (userForm.get('Password')?.dirty||userForm.get('Password')?.touched)" class="help-block">Bạn chưa nhập Pass mới</span>
                            </div>
                            <a class="btn btn-danger" (click)='onback()' style='width:70px'> Cancel </a> &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-info"  [disabled]="userForm.invalid">Đổi mật khẩu </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
