<div class="content-wrapper ">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Trang chủ/ quên mật khẩu</h4> 
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-left: 190px;">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        Quên mật khẩu
                    </div>
                    <div class="panel-body">
                        <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="Email" formControlName="Email" placeholder="Vui lòng nhập email..."/>
                                <span *ngIf="!userForm.get('Email')?.valid && (userForm.get('Email')?.dirty||userForm.get('Email')?.touched)" class="help-block">Bạn chưa nhập email</span>
                            </div>
                            <button type="submit" class="btn btn-info"  [disabled]="userForm.invalid">Lấy mật khẩu </button> &nbsp;
                            <button type="submit" class="btn btn-info" (click)= "onlogin()">Đăng nhập </button> &nbsp;                          
                            <button type="submit" class="btn btn-info" (click)= "onreset()">Đổi mật khẩu  </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

