<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Trang chủ/ giới thiệu</h4>
            </div>
        </div>      
        <div class="row">
            <div style="margin-left: 130px;">
                <h1>Trưởng nhóm – Team leader</h1>Có quyền tạo và quản lý dự án, xem tổng quan về team mình quản lý,
                như thống kê số nhân viên, nhân viên theo khu vực, chi phí của dự án. 
                <h2>Nhân viên - Employee</h2>
                Nhân viên trong team được phép tạo và quản lý task của dự án. 
                Đăng nhập: Người dùng phải đăng nhập, tương ứng với vai trò <br> là leader hoặc employee ứng dụng thực hiện phân quyền phù hợp. 
                <h3>Quản lý task</h3>employee có thể tạo, thay đổi tình trạng của task     
            </div>
            <!-- <div style="margin-top: 200px;"></div> -->
        </div>      
    </div>
</div>
