<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Trang chủ/ Teams</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        THÀNH VIÊN CỦA TEAM
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success">
                            West
                        </div>
                        <div style="max-width: 90%;margin-left: 30px;">
                            <div class="alert alert-info">
                                #1 Long
                            </div>
                            <p style="margin-left:10px;">Available</p> 
                            <div class="alert alert-info">
                                #2 Tú
                            </div>
                            <p style="margin-left:10px;">Available</p>
                            <div class="alert alert-info">
                                #3 Bình
                            </div>
                            <p style="margin-left:10px;">Busy</p>
                            <div class="alert alert-info">
                                #4 James
                            </div>
                            <p style="margin-left:10px;">Busy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

